.navbar {
  background-color: #007bff;
}

.navbar-brand,
.nav-link {
  color: #fff !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}
